/* color palette from <https://github.com/vuejs/theme> */
:root {
  --y2k-c-pink: #ff99c8;
  --y2k-c-yellow: #fcf6bd;
  --y2k-c-green: #d0f4de;
  --y2k-c-blue: #a9def9;
  --y2k-c-purple: #e4c1f9;

  --y2k-c-maroon: #550000;

  --y2k-c-text-light: var(--y2k-c-maroon);

  --color-background: linear-gradient(180deg, var(--y2k-c-green), var(--y2k-c-yellow));

  --color-border: var(--y2k-c-maroon);
  --color-box-shadow: var(--y2k-c-pink);

  --color-heading: var(--y2k-c-maroon);
  --color-text: var(--y2k-c-maroon);

  --section-gap: 160px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background:
  repeating-linear-gradient(0deg, transparent, transparent 37px, white 40px), /* Horizontale Linien */
  repeating-linear-gradient(90deg, transparent, transparent 37px, white 40px), /* Vertikale Linien */
  var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
